* {
    font-family: times;
  }
  
  body {
    background: #fff;
  }

  input {
    font-family: 'Patrick Hand', cursive;
  }

  hr {
    clear: both;
    border: 0;
    height: 13px;
    background-image: url('../img/hr.png');
  }

  